.card {
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    .ImageCard {
        overflow: hidden;

        .Image {
            width: 100%;
            transition: 5s;
        }
    }

    &:hover {
        .Image {
            transform: scale(1.1);
        }
    }
}
